---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

export type Props =  HTMLAttributes<'section'> & {
  companies: {
    src: ImageMetadata;
    alt: string;
  }[];
};

const { companies , ...props} = Astro.props;

---

<section 
class={twMerge(
        "pt-20 w-full flex items-center flex-col hidden-opacity companies-wheel overflow-hidden",
        props.class
    )
} >
  <p class=" text-lg  font-semibold">Companies I've worked with</p>
  <div class='flex marquee'>
    <div class="py-12 gap-6 marquee__inner  whitespace-nowrap inline-block" aria-hidden="true" id='banner-container'>
        {companies.map((company, idx) => ( 
            <div class='inline-block w-[200px]'>
                <Image  src={company.src}  alt={company.alt}  class='h-12 m-auto'/> 
            </div>
        ))}
         {companies.map((company, idx) => ( 
            <div class='inline-block w-[200px]'>
                <Image  src={company.src}  alt={company.alt}  class='h-12 m-auto'/> 
            </div>
        ))}
         {companies.map((company, idx) => ( 
            <div class='inline-block w-[200px]'>
                <Image  src={company.src}  alt={company.alt}  class='h-12 m-auto'/> 
            </div>
        ))}
         {companies.map((company, idx) => ( 
            <div class='inline-block w-[200px]'>
                <Image  src={company.src}  alt={company.alt}  class='h-12 m-auto'/> 
            </div>
        ))}
         {companies.map((company, idx) => ( 
            <div class='inline-block w-[200px]'>
                <Image  src={company.src}  alt={company.alt}  class='h-12 m-auto'/> 
            </div>
        ))}
        
      </div>
      </div>
</section>

<style>
	.hidden-opacity {
		opacity: 0;
	}

	.companies-wheel {
		transition: opacity 0.6s ease-in-out;
	}
</style>

<script >
    
    let observer: IntersectionObserver | null = null;
    document.addEventListener('astro:page-load', () => {
	    const companiesWheel = document.querySelector('.companies-wheel');

        if(!companiesWheel) return;
        const cb = (entries: IntersectionObserverEntry[]) => {
            entries.every(entry => {
                if (entry.isIntersecting ) {
                     companiesWheel.classList.remove('hidden-opacity');
                }
            });
        };

        let companiesWheelObserver = new IntersectionObserver(cb, {
		rootMargin: '0px',
		threshold: 0.8
	    });
    
        companiesWheelObserver.observe(companiesWheel)

        companiesWheel?.classList.add('hidden-opacity');

    });

</script>


<style>

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 24vw;
    --move-initial: calc(-10% + var(--offset));
    --move-final: calc(-30% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee span {
    font-size: 10vw;
    padding: 0 2vw;
}

.marquee .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
</style>