---
import Container from './container.astro';
import Picture from './picture.astro';
import Excellence from '../assets/excellence.png';

export type Props = {
  preTitle: string;
  title: string;
  description: string;
  challenges: [
    {
      title: string;
      description: string;
    },
    {
      title: string;
      description: string;
    },
  ];
  image: string;
  url: string;
};

const props = Astro.props;
---

<Container>
  <div class="flex flex-col-reverse md:flex-row gap-8 items-start justify-between">
    <div class="md:w-[730px]">
      <p class="font-semibold animate-slide-in">{props.preTitle}</p>
      <h2 class="mt animate-fade-in-1">{props.title}</h2>
      <p class="animate-fade-in-2">
        {props.description}
      </p>
      <div class="flex flex-col md:flex-row gap-4 mt-8 animate-fade-in-3">
        <div>
          <h6>{props.challenges[0].title}</h6>
          <p>{props.challenges[0].description}</p>
        </div>
        <div>
          <h6>{props.challenges[1].title}</h6>
          <p>{props.challenges[1].description}</p>
        </div>
      </div>
      <div class="mt-6">
        <a class="animate-fade-in-2" href={props.url} target="_blank" rel="noopener noreferrer"> View Project</a>
      </div>
    </div>
    <Picture src={Excellence} />
  </div>
</Container>
