---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
export type Props = {
  project: CollectionEntry<'project'>;
  full?: boolean;
};

const { project, full } = Astro.props;


const slug = '/projects/'+ project.data.title.replaceAll(' ', '-').toLowerCase();
---

<a  href={slug} class={'w-full group ' + (full ? '' : 'max-w-[calc(50%-16px)]')}>
  <Image src={full ? project.data.image : project.data.imageSmall} alt={project.data.alt} />
  <div class="mt-4">
    <div class="flex gap-4 items-center">
      {
        project.data.tags.map(tag => (
          <span class="inline-block bg-gray-100 rounded-sm px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{tag}</span>
        ))
      }
    </div>
    <h4 class=" group-hover:underline">{project.data.title}</h4>
    <p class="mt-2">{project.data.description}</p>
    <p class="mt-4 inline-block font-semibold text-sm"> Read more</p>
  </div>
</a>
